<!-- main dashboard -->
<script>
  function upload_csv(formData, organization){
    var csvFile = formData;
    var organization = organization;
    if (csvFile == null){
      alert('Please attach a valid CSV file');
    } else{
      $.ajax({
        url: "/election_import",
        data: {'file':csvFile, 'organization':organization},
        processData: false, 
        contentType: false, 
        type: 'POST',
        complete: function(res)
        { 
          $("#hiddenFrameID").empty();
          alert('CSV file imported');
        }
      });
    }
  };
  
  function submit_individual(organization, admin_status){
    if (admin_status == '1'){
      var user_id = "#" + organization + "_admin_name";
      var email_id = "#" + organization + "_admin_email";
    }
    else{
      var user_id = "#" + organization + "_member_name";
      var email_id = "#" + organization + "_member_email";
    }

    var user_name = $(user_id).val();
    var user_email = $(email_id).val();
    var organization = organization;
    var admin_status = admin_status;
    
    if(user_name == "" || user_email == "") {
      alert('User must have a name and email');
    } 
    else{
      $.ajax({
        url: "/election_add_individual",
        type: 'POST',
        data: {'user_email':user_email,
                 'organization':organization,
                 'user_name':user_name,
                 'admin_status':admin_status
          },
        cache: false,
        complete: function(res)
        {
          $("#hiddenFrameID").empty();
          alert("User Added");
          // alert($("flash").val());
        }
      })}; //Submit the form
  };
  function delete_individual(organization, admin_status){
    if (admin_status == '1'){
      var user_id = "#" + organization + "_admin_name";
      var email_id = "#" + organization + "_admin_email";
    }
    else{
      var user_id = "#" + organization + "_member_name";
      var email_id = "#" + organization + "_member_email";
    }
    var user_name = $(user_id).val();
    var user_email = $(email_id).val();
    var organization = organization;
    var admin_status = admin_status;
    
    if(user_name == "" || user_email == "") {
      alert('User must have a name and email');
    } else{
    $.ajax({
    url: "/election_delete_individual",
    type: 'POST',
    data: {'user_email':user_email,
             'organization':organization,
             'user_name':user_name
      },
      cache: false,
      complete: function(res)
      {
        alert('User Deleted');
        $("#hiddenFrameID").empty();
      }
    }); 
  }
};
  
</script>

<p id="flash"><%= flash[:notice] %></p>
<%if @my_orgs.count == 0%>
  <p>You're not a part of any organization</p>
<% end %>
<% @my_orgs.each do |org| %>
    <h1><%= org %></h1>
    <h2>Admins</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @org_admin_pair[org].each do |admin| %>
          <tr>
            <td><%= admin.user_name %></td>
            <td><%= admin.user_email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div>
    
    <form name="admin_individual_form" id="admin_individual_form" target="hiddenFrame">
      <h4>Add/Delete an Admin for <%=org%></h4>
        Name: <input type="text" id="<%=org%>_admin_name" name="user_name"/> <br/>
        Email: <input type="text" id="<%=org%>_admin_email" name="user_email" /> <br/>
        <button value="admin_individual_form_add" onclick="submit_individual('<%=org%>', '1'); return false;">Add</button>
        <button value="admin_individual_form_delete" onclick="delete_individual('<%=org%>', '1'); return false;">Delete</button>
    </form>
   
    <%= form_tag import_path, multipart: true do %>
    <%= file_field_tag :file, accept: 'csv' %>
      <%= submit_tag "Import", :class => 'btn btn-primary' %>
    <% end %>
   
    <div id="dvImportSegments" class="fileupload ">
      <form target="hiddenFrame">
        <fieldset>
            <legend>Upload a CSV File for Admins</legend>
            Make sure you only have the following columns in this order: Name, Email
            <br> 
                <input type="file" name="File Upload" id="csvFile" accept=".csv" />
                <button value="Submit" onclick="upload_csv('csvFile', '<%=org%>'); return false;">Upload CSV</button>
         </fieldset>
      </form>
    </div>
    
    <h2>Members</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @org_member_pair[org].each do |member| %>
          <tr>
            <td><%= member.user_name %></td>
            <td><%= member.user_email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div>
    
    <form name="member_individual_form" id="member_individual_form" target="hiddenFrame">
    <h4>Add/Delete a Member for <%=org%></h4>
      Name: <input type="text" id="<%=org%>_member_name" name="user_name"/> <br/>
      Email: <input type="text" id="<%=org%>_member_email" name="user_email" /> <br/>
      <button value="member_individual_form_submit" onclick="submit_individual('<%=org%>', '0'); return false;">Add</button>
      <button value="member_individual_form_delete" onclick="delete_individual('<%=org%>', '0'); return false;">Delete</button>
    </form>  
      
    <div id="dvImportSegments" class="fileupload ">
      <form name="csv_form" id="csv_form" target="hiddenFrame">
        <fieldset>
            <legend>Upload a CSV File for Members</legend>
            Make sure you only have the following columns in this order: Name, Email
            <br>
                <input type="file" name="File Upload" id="csvFile" accept=".csv" />
                <button value="Submit" onclick="upload_csv('csvFile', '<%=org%>'); return false;">Upload CSV</button>
         </fieldset>
      </form>
    </div>
<% end %>

<iframe name="hiddenFrame" class="hide" id="hiddenFrameID" style="display:none;height:1;width:1;"></iframe>


